In [2]:
import numpy as np
import pandas as pd

# Step 1: Create a simple synthetic dataset with 2 features
np.random.seed(42)

# Feature 1: Random values centered around 5 (mean = 5, std deviation = 0.5)
X1 = np.random.normal(5, 0.5, 10)

# Feature 2: Linearly related to Feature 1 (Feature 2 = 2 * Feature 1 + noise)
X2 = 2 * X1 + np.random.normal(0, 0.5, 10)

# Cluster assignment: Arbitrary clustering (0 or 1)
clusters = np.random.choice([0, 1], size=10)

# Combine them into a DataFrame
data = pd.DataFrame({
    'Feature 1': X1,
    'Feature 2': X2,
    'Cluster': clusters
})

# Display the DataFrame
data

   Feature 1  Feature 2  Cluster
0   5.248357  10.265005        1
1   4.930868   9.628871        1
2   5.323844  10.768670        0
3   5.761515  10.566390        1
4   4.882923   8.903388        0
5   4.882932   9.484719        1
6   5.789606  11.072797        0
7   5.383717  10.924558        1
8   4.765263   9.076514        1
9   5.271280   9.836408        0

# Steps:

- Standardize the Data
- Apply PCA
- Visualize

In [ ]:
# Step 1: Standardize the data
# Use StandardScaler to scale the data, so both features have zero mean and unit variance.

# Your code here

In [ ]:
# Step 2: Apply PCA to reduce to 1 principal component
# Use PCA from sklearn to reduce the dataset to 1 component.

# Your code here

In [ ]:
# Step 3: Visualize the results
# Plot the original data in 2D
# Then, project the data onto the first principal component and plot the result in 1D

# Your code here